/*  your css code here. If applicable */
body{
	height:95vh;
}
div{
	width:200px;
	height:200px;
	background-color: skyblue;
	border: 2px solid black;
	position:relative;
	top:30%;
	left:30%
}
h3{
	color:purple;
	position:relative;
	top:30%;
	left:20%;
}